<h1>搜索参会代表</h1>
<%= form_tag search_conventioners_path, :method => :get, :id => 'search_conventioner' do %>
  <fieldset class="form-generic">
    <ul>
      <li><label>关键字：</label><%= text_field_tag :keyword, nil, :class => 'text-field' %></li>
    </ul>
  </fieldset>
  <div class="operation-generic">
    <%= link_to '搜索', '#', :onclick => "submitForm('search_conventioner')", :class => 'button' %>
  </div>
<% end %>