<h1>批量更新光盘包信息</h1>
<fieldset class="form-generic">
  <ul>
    <li><label>已更新：</label><%= @changed_conventioners %>人</li>
  </ul>
  <% @error_messages.each do |error_message| %>
  <ul>
    <li><label><%= error_message[0] %>：</label><%= error_message[1] %></li>
  </ul>
  <% end %>
</fieldset>
<div class="operation-generic">
  <%= link_to '返回', update_dvd_informations_conventioners_path, :class => 'button' %>
</div>