<h1>查看雇员</h1>
<fieldset class="form-generic">
  <ul>
    <li><label>名称：</label><%= @confucius_institute.name %></li>
  </ul>
  <div class="operation-generic">
    <%= raw crud_for_show_tag(@confucius_institute) %>
  </div>
</fieldset>