<h1>签到统计</h1>
<fieldset class="form-generic">
  <ul>
    <li><label>参会代表总人数：</label><%= @total_conventioners_count %></li>
  </ul>
  <ul>
    <li><label>已签到参会代表人数：</label><%= @registered_conventioners_count %></li>
  </ul>
  <ul>
    <li><label>未签到参会代表人数：</label><%= @unregistered_conventioners_count %></li>
  </ul>
</fieldset>